<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <!-- football standings widget -->
        <div id="wg-api-football-standings"
        data-host="v3.football.api-sports.io"
        data-league="39"
        data-team=""
        data-season="2020"
        data-key=""
        data-theme="grey"
        data-show-errors="true"
        class="api_football_loader"></div>
    <script
        type="module"
        src="https://widgets.api-sports.io/football/1.1.8/widget.js">
    </script>
    <br />
    <!-- football livescore widget -->
    <div id="wg-api-football-livescore"
        data-host="v3.football.api-sports.io"
        data-refresh="60"
        data-key=""
        data-theme="grey"
        data-show-errors="true"
        class="api_football_loader">
    </div>
    <script
        type="module"
        src="https://widgets.api-sports.io/football/1.1.8/widget.js">
    </script>
</body>
</html>