* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: #fcfbe7;
    max-width: 100vw;
    min-height: 100vh;
}

.header {
    background-color: #9fd3da;
    max-width: 100vw;
    min-height: 3.5rem;
}

h2 {
    font-family: 'Barlow Semi Condensed', sans-serif;
    color: #05484f;
    padding: .5rem;
}