<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/api-football.css">
    <title>Eredivisie Standings</title>
</head>
<body>
    <div id="wg-api-football-standings"
        data-host="v3.football.api-sports.io"
        data-league="88"
        data-team=""
        data-season="2020"
        data-key="3c8b77d66d8b724190d069680fbd36d9"
        data-theme=""
        data-show-errors="false"
        class="api_football_loader">
    </div>
    <script
        type="module"
        src="https://widgets.api-sports.io/football/1.1.8/widget.js">
    </script>
</body>
</html>